name: Testes automatizados do serviço Api do Blog

on:
  push:
    branches: [master]
    paths:
      - 'public_html/services/api-blog/**'
      - '.github/workflows/tests-service-api-blog.yml'
  
  pull_request:
    branches: [master]
    paths:
      - 'public_html/services/api-blog/**'
      - '.github/workflows/tests-service-api-blog.yml'

# TAREFAS A SEREM EXECUTADAS
jobs:
  #NOME DA TAREFA A SER EXECUTADA PARA TESTES AUTOMATIZADOS
  teste-automatizado:
    runs-on: ubuntu-22.04

    #PASSOS A SEREM EXECUTADOS PARA ESTA TAREFA
    steps:

      #PASSO 1: BAIXA O CÓDIGO DO REPOSITÓRIO
      #ESTA TAREFA USA O NAME COMO DESCRITIVO DO QUE ESTÁ SENDO EXECUTADO
      - name: Download do código
        uses: actions/checkout@v4
      
      #PASSO 2: REALIZAR AS CONFIGURAÇÕES NECESSÁRIAS PARA O PHP
      - name: Configuração do PHP
        uses: shivammathur/setup-php@v4
        #PARÂMETROS DE CONFIGURAÇÃO DESSA ACTION
        with:
          php-version: 8.3
          extensions: mbstring, curl, fileinfo, intl, mysql, bcmath, zip, xml

      #PASSO 3: CACHE DE DEPENDÊNCIAS DO COMPOSER
      - name: Dependências do composer em cache
        uses: actions/cache@v4
        #PARÂMETROS DE CONFIGURAÇÃO DESSA ACTION
        with:
          #CAMINHO PARA O CACHE
          path: ~/.composer/cache
          #CHAVE PARA O CACHE
          key: ${{runner.os}}-composer-api-blog-${{hashFiles('public_html/services/api-blog/composer.lock')}}
          #CHAVES PARA RESTAURAR O CACHE
          restore-keys: |
            ${{runner.os}}-composer-api-blog-

      #PASSO 4: INSTALAÇÃO DAS DEPENDÊNCIAS DO COMPOSER
      - name: Instalação das dependências do composer
        #CAMINHO PARA O DIRETÓRIO DE TRABALHO
        working-directory: public_html/services/api-blog
        #EXECUTA O COMANDO PARA INSTALAR AS DEPENDÊNCIAS DO COMPOSER
        run: composer install --prefer-dist --optimize-autoloader --no-progress --no-interaction

      #PASSO 5: CONFIGURAÇÃO DO AMBIENTE DE TESTE
      - name: Configuração do ambiente de teste
        #CAMINHO PARA O DIRETÓRIO DE TRABALHO
        working-directory: public_html/services/api-blog
        #EXECUTA O COMANDO INICIANDO O BLOCO DE COMANDOS SHELL COM PIPE |
        run: |
          cp .env.example .env || echo "APP_KEY=" > .env
          php artisan key:generate --ansi

      - name: Execução dos testes
        working-directory: public_html/services/api-blog
        run: php artisan test --testsuite=Feature